{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header style="position: fixed;">
    <nav class="navbar navbar-expand-lg navbar">
        <div class="container">
         <!--   <a class="navbar-brand" href="/">RESUME</a> -->


            <div class="collapse navbar-collapse offset-md-7" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto offset-md-2">
                    <li class="nav-item ">
                        <a class="nav-link" style="color: yellow;"  href="#Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  style="color: yellow;" href="#About">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  style="color: yellow;" href="#Resume">Resume</a>
                    </li>

                </ul>

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" style="color: yellow;" href="#Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  style="color: yellow;" href="#Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>